<footer>
    <h3>Lorem ipsum dolor.</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur deserunt dolor doloribus dolorum ex
        excepturi, facilis fuga minima mollitia, odio praesentium quas quibusdam rerum saepe soluta tempora veritatis
        voluptatum.</p>
</footer>